server:
  port: 8000

management:
  endpoints:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  tracing:
    sampling:
      probability: 1.0

# eureka:
#   client:
#     service-url:
#       defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

spring:
  application:
    name: exchange-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/exchange_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&enabledTLSProtocols=TLSv1.2}
    username: ${SPRING_DATASOURCE_USERNAME:docker}
    password: ${SPRING_DATASOURCE_PASSWORD:admin123}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false
  # management:
  #   tracing:
  #     sampling:
  #       probability: 1.0
  # zipkin:
  #   base-url: ${SPRING_ZIPKIN_BASEURL:http://localhost:9411}

springdoc:
  api-docs:
    path: /exchange-service/v3/api-docs
  swagger-ui:
    url: /exchange-service/v3/api-docs
  override-server-url: true
