server:
  port: 8765

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: book-service
          uri: lb://book-service
          predicates:
            - Path=/book-service/**
        - id: exchange-service
          uri: lb://exchange-service
          predicates:
            - Path=/exchange-service/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user-service/**
  # tracing/zipkin com Micrometer (Boot 3)
management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: ${SPRING_ZIPKIN_BASEURL:http://localhost:9411/api/v2/spans}

springdoc:
  swagger-ui:
    urls:
      - name: book-service
        url: /book-service/v3/api-docs
      - name: exchange-service
        url: /exchange-service/v3/api-docs
      - name: user-service
        url: /user-service/v3/api-docs
