server:
  port: 8888
spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/SCFrancisco2221857/erudio-config-server.git
          search-paths: 'greeting-service*'