apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
  labels:
    app: book-service
  name: book-service
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: book-service
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: book-service
    spec:
      containers:
      - env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://host.docker.internal:3306/book_service
        - name: SPRING_DATASOURCE_USERNAME
          value: docker
        - name: SPRING_DATASOURCE_PASSWORD
          value: admin123
        image: scfrancisco/book-service:kube-v1
        imagePullPolicy: IfNotPresent
        name: book-service
      dnsPolicy: ClusterFirst
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: book-service
  name: book-service
  namespace: default
spec:
  allocateLoadBalancerNodePorts: true
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - nodePort: 32176
    port: 8100
    protocol: TCP
    targetPort: 8100
  selector:
    app: book-service
  sessionAffinity: None
  type: LoadBalancer
